<!DOCTYPE html>
{% extends 'navigation/base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
	{% if not assignment %}
		{% include 'navigation/not_found.html' %}
	{% else %}
		<div class="container pt-5">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Edit Assignment</h5>
					<h6 class="card-subtitle mb-2 text-muted">Employee: {{ employee.first_name }} {{ employee.last_name }}</h6>
					{% crispy assignment %}

					{% if messages %}
						{% for m in messages %}
							<small class="text-danger">{{ m }}</small>
						{% endfor %}
					{% endif %}

					{% if assignment.errors %}
						{% for key, value in assignment.errors.items %}
						<small class="text-danger">
							{{ value | striptags }}
						</small>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}