<!DOCTYPE html>
{% extends 'navigation/base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
	<div class="d-flex justify-content-center pt-5">
		<div class="card col-6">
			<div class="card-body">
				<h5 class="card-title">
			        Search
			    </h5>
			    <h6 class="card-subtitle mb-2 text-muted">Please enter employee id or name to search</h6>
					{% csrf_token %}
					{% crispy employee %}

					{% if messages %}
						{% for m in messages %}
							<small class="text-danger">{{ m }}</small>
						{% endfor %}
					{% endif %}

					{% if employee.errors %}
						{% for key, value in employee.errors.items %}
							<small class="text-danger">
							{{ value | striptags }}
							</small>
						{% endfor %}
					{% endif %}
		    </div>
		</div>
	</div>
{% endblock %}